section#molecula-contactos 

include ../atoms/frase
include ../atoms/imagem

.molecula-contactos(style="text-align: center;")
  h1(style="margin-bottom: 50px;",) Contactos Bricantel
  .conteudo
    h2 Morada
    #texto-frase
      | Zona Industrial das Cantarias Rua Arquiteto Viana de Lima 19, 5300-678 Bragança
    h2 Email
    #texto-frase
      | info@bricantel.pt
    h2 Horário
    #texto-frase
      | Segunda - Sexta 8:30h - 18:00h
    h2 Telefone
    #texto-frase
      | +351 273 302 130
    p
    img(src='assets/images/logo.png', alt='Descrição da Imagem Sobre Nós', style='display: block; margin: 0 auto; width: 200px; height: auto;')
  