nav#navbar
.container
        .logo
          a(href="index.html")
            img(src="assets/images/logo.png" href="index.html" alt="Logotipo")
        nav.menu
          ul
            li
              a(href="obras.html") OBRAS RECENTES
            li
              a(href="sobrenos.html") SOBRE NÓS
            li
              a(href="contactos.html") CONTACTO
nav.submenu
  ul
    li
      a(href="catmb.html") Mobiliário Urbano
    li
      a(href="404.html") Parques Infantis
    li
      a(href="404.html") Espaços Desportivos
    li
      a(href="404.html") Inclusão Park
    li
      a(href="404.html") Iluminação Pública
    li
      a(href="404.html") Smart Cities
    li
      a(href="404.html") Sinalização
    li
      a(href="404.html") Pavimentos
    li
      a(href="404.html") Mobiliário Interior
    li
      a(href="404.html") Packs BriPlay
