- var directory="./"

include ../atoms/cta

block variables
doctype html
html(lang="pt")
  head
    include ../organisms/head
    block meta
  body
    
    
    include ../molecules/nav
    include ../organisms/header  
    include ../organisms/produto  

  
    
    main
      block content

    

    block scripts