include ../molecules/layout

block variables
  - var title = "Sobre Nós"


section#sobre-nos
  h2(style="text-align: center;") Quem somos?
  .lead(style="margin-bottom: 10px;",) BriCANTEL uma empresa orgulhosamente portuguesa com mais de 30 anos de experiência no fabrico e comercialização de soluções para espaços urbanos.
  h2(style="text-align: center;") A missão 🎯
  .lead(style="margin-bottom: 10px;") Conceber, fabricar e comercializar equipamentos que satisfaçam as exigências dos prescritores, clientes e utilizadores.
  h2(style="text-align: center;") A visão 👁️
  .lead(style="margin-bottom: 10px;") Ser o líder do mercado nacional e internacional, através de inovação contínua, máxima qualidade e excelência de serviço, oferecendo oportunidades de desenvolvimento para as comunidades onde atuamos.
  h2(style="text-align: center;") BRICANTEL UMA GRANDE EMPRESA ATÉ NAS PEQUENAS COISAS
  .lead(style="margin-bottom: 10px;") Acreditamos que a qualidade assenta na eficiência bem como na funcionalidade, independentemente do tamanho da peça. A criatividade, funcionalidade e qualidade das nossas respostas em mobiliário urbano, parques infantis, material desportivo, iluminação pública e sinalética fazem da Bricantel uma referência no sector.
  .lead Uma vasta rede de colaboradores e distribuidores diretos, asseguram eficazmente a distribuição dos nossos produtos em Portugal Continental e Ilhas, em vários países da Europa como Espanha e França e ainda em África, mais concretamente Cabo Verde, Angola e Moçambique
   p
   img(src='assets/images/logo.png', alt='Descrição da Imagem Sobre Nós', style='display: block; margin: 0 auto; width: 200px; height: auto;')
  