include ../molecules/layout

section#organismo-desporto
  .organismo-desporto-container
    h2.descricao-direita(style="text-align: center;") EQUIPAMENTOS DESPORTIVOS
    img.imagem-esquerda(src='assets/images/slide/desporto.png', alt='Descrição Desporto')
